


<mat-drawer-container class="example-container" autosize>
    
    
    <!-- SIDEBAR -->
    <mat-drawer 
    [opened]="true" #drawer 
    class="example-sidenav" 
    [mode]="isMobile() ? 'over' : 'side' "
    >
    <mat-nav-list>
      <a routerLink="home" mat-list-item> Inicio</a>
      <a routerLink="usuarios" mat-list-item> Usuarios</a>
      <a (click)="logout()" routerLink="" mat-list-item> Cerrar sesion</a>
    </mat-nav-list>
      
    </mat-drawer>
    <!-- SIDEBAR -->

    <!-- TOOLBAR SUPERIOR -->

      <mat-toolbar color="primary">
        <div class="d-flex justify-content-betwen align-items-center w-100">
          <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <ul class="listaMenu">
              <li>Menu</li>
              <li class="Inicio">Inicio</li>
          </ul>
        </div>

        <div>
          @if(authUser$ | async; as user){
          <div>{{ user?.firstName }}</div>
          }
        </div>
        
       </mat-toolbar>
    

    <main style="padding:0.7rem">

      <button (click)="login()" color="primary" mat-flat-button>Iniciar Sesion</button>
       
      
      
      <!-- Todas las rutas hijas del dashboard se mostraran a traves de este router -->
      <router-outlet/>
    </main>
      <!-- TOOLBAR SUPERIOR -->

  
    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
  
</mat-drawer-container>